.App {
  text-align: center;
}

.App-header {
  background-color: #5d6064;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  justify-content: flex-start;
  font-size: 25px;
  color: white;
  padding-left: 16px;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border-bottom: 1px solid #e7e7e7;
  background-color: #2a2828;
  text-align: center;
}

.nav-item {
  float: left;
  background-color: #2a2828;
}

.switch {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border-bottom: 1px solid #e7e7e7;
  background-color: #2a2828;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.switch-item {
  float: center;
  display: block;
  color: rgb(247, 244, 244);
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
}

.switch-item:hover {
  background-color: rgb(155, 146, 146);
}

.switch-item-active {
  float: center;
  display: block;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  color: black;
  background-color: white;
}

a {
  display: block;
  color: rgb(247, 244, 244);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.user-greeting {
  display: block;
  color: white;
  text-align: center;
  padding-top: 14px;
  padding-left: 5px;
  padding-right: 16px;
  text-decoration: none;
  float: right;
}

.user-avatar {
  float: left;
  margin-top: 2px;
  margin-left: 20px;
  height: 75px;
}

.user {
  display: block;
  color: white;
  text-align: right;
  padding: 30px 10px;
  font-size: x-large;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
}
.logout a {
  float: right;
}

a:hover {
  background-color: rgb(155, 146, 146);
}

a.active {
  color: black;
  background-color: white;
}

.container {
  background-color: transparent;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  flex-direction: column;
  justify-content: space-between;
  display: flex;
  width: 100%;
}
.poll-container {
  background-color: transparent;
  flex-direction: column;
  justify-content: space-between;
  display: flex;
  width: 100%;
}

.title-container {
  display: flex;
  background-color: transparent;
  height: 20px;
  margin-top: 20px;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.poll-preview-container {
  display: flex;
  background-color: transparent;
  height: 75px;
  margin-top: 20px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 70%;
  margin-left: 15%;
  border: 1px solid grey;
  padding: 10px;
  background-color: rgb(189, 189, 189);
}
.leaderboard-item-container {
  display: flex;
  background-color: transparent;
  height: 75px;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 70%;
  margin-left: 15%;
  border: 1px solid grey;
  padding: 10px;
  padding-left: 0px;
  background-color: rgb(189, 189, 189);
}
.question-container {
  background-color: transparent;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  display: flex;
}
.title {
  text-align: left;
  font-size: x-large;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  float: left;
}
.title-leaderboard-item {
  text-align: center;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  margin-top: 2px;
  margin-bottom: 2px;
}
.title-right {
  flex: 1;
  text-align: right;
  font-size: x-large;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  float: right;
}
.leaderboard-main-info-container {
  background-color: transparent;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  display: flex;
  flex: 1;
}
.title-small {
  display: flex;
  text-align: left;
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
  float: right;
  width: 20%;
  margin: 5px;
}
.subtitle-small {
  text-align: center;
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
  float: right;
}

img {
  float: left;
  margin-right: 10px;
}
.question-container {
  flex: 1;
  height: 90px;
  padding: 5px;
}
.label-title {
  font-size: xx-large;
}
.label-item {
  font-size: x-large;
}
.label-info {
  font-size: small;
  color: rgb(194, 194, 194);
}

li {
  list-style-type: none;
}
input[type="checkbox"] {
  transform: scale(1.5);
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
input[type="text"] {
  transform: scale(1.5);
  width: 300px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
button {
  align-self: center;
}

.confirmation {
  color: white;
  background-color: #2a2828;
  margin-top: 50px;
  width: 150px;
  height: 50px;
  font-size: large;
  align-self: center;
}

.view-poll {
  color: white;
  background-color: #2a2828;
  width: 50px;
  height: 50px;
  font-size: small;
  align-self: center;
}

.list {
  text-align: left;
}

.login {
  display: flex;
  margin-top: 50px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.login-title {
  display: flex;
  flex: 1;
  margin-top: 100px;
  font-size: x-large;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
}

.welcome {
  display: flex;
  flex: 1;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}
.info {
  display: flex;
  flex: 1;
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}
.mini-avatar {
  float: left;
  height: 60px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
}
.user-login {
  float: left;
  padding-top: 2px;
  font-size: large;
  align-self: centerd;
}
.login-item {
  background-color: rgb(233, 229, 229);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 30%;
  height: 75px;

  margin-left: 35%;
  margin-right: 35%;
  margin-top: 20px;
}
.sign-in {
  background-color: rgb(233, 229, 229);
  flex: 1;
  color: #2a2828;
  width: 150px;
  height: 50px;
  font-size: large;
  border: 0px;
}
